.container { 
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    justify-content: center;
    background-color: rgb(165, 135, 202);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 180px;
    border: 2px solid rgb(34, 3, 101);
    border-radius: 20px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: 7px 13px 37px rgba(143, 100, 100, 0.7);
}